# **Pandas DataFrame Olusturma**

### DataFrame: Analitik anlamda makine öğrenmesi modellerine vereceğimiz veri setleri olarak düşünebiliriz

In [1]:
import pandas as pd

In [2]:
l = [1,2,39,67,90]

In [3]:
l

[1, 2, 39, 67, 90]

In [8]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

### df isimlendirme

In [12]:
df = pd.DataFrame(m,columns = ["var1","var2","var2"])
df.head()

   var1  var2  var2
0     1     2     3
1     4     5     6
2     7     8     9

In [13]:
df.columns = ("deg1","deg2","deg3")

In [14]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [17]:
df.shape

(3, 3)

In [18]:
df.ndim

2

In [19]:
df.size

9

In [20]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
type(df.values)

numpy.ndarray

In [22]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [23]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [24]:
a = np.array([1,2,3,4,5])

In [25]:
pd.DataFrame(a,columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5